/* purgecss start ignore */

@tailwind base;
@tailwind components;

@layer base {
  :root {
    --primary: 356 71% 45%;
    --primary-foreground: 0 0% 100%;
  }
}

html {
  font-family: "Rubik", sans-serif;
}
body {
  @apply bg-white-500;
}
p {
  @apply text-black-500;
}
.animation-hover:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  height: 2px;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  @apply w-0 bg-primary left-1/2 block bottom-0 absolute;
}
.animation-active:after {
  @apply left-0 w-full;
}
.animation-hover:hover:after {
  @apply left-0 w-full;
}

/* purgecss end ignore */
@tailwind utilities;
/* purgecss start ignore */
/* purgecss end ignore */
